@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
  @apply bg-primary shadow-none border-none accent-white;
}
input:checked + div svg {
  @apply block;
}
 input:indeterminate~.checkmark {
  background: #25a5bd;
}